@charset "UTF-8";

/* footer.css */
footer {
	background-color: #222;
	color: #ccc;
	padding: 20px 10px;
	font-size: 0.85em;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	width: 100%;
	margin-top: auto;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	margin-top: auto;
}

footer a {
	color: #9fcdff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: none;
}

footer .app-name {
	font-family: 'LimeLight', sans-serif;
	font-size: 1.2em;
	color: #f9f9f9;
	margin: 0;
}

footer p {
	margin: 4px 0;
	font-size: 0.7em;
}

.github-link {
	display: inline-flex;
	align-items: center;
	margin-top: 3px;
}

.github-icon {
	width: 18px;
	height: 18px;
	margin-right: 8px;
}

.github-link:hover .github-icon {
	filter: brightness(1.2);
}